[package]
name = "webkit-wincairo"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
description = "Safe Rust wrapper for WinCairo WebKit"

[dependencies]
thiserror = { workspace = true }
log = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
webkit-wincairo-sys = { workspace = true }
windows-sys = { version = "0.52", features = [
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_Graphics_Gdi",
] }
